<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @course.company %>
</p>
<p>
  <strong>Materials: </strong></br>
  <% @course.materials.each do |material| %>
  <%= link_to material.name, material_path(material) %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
