<p id="notice"><%= notice %></p>

<h1>
  <%= @course.name %>
</h1>
<p>
  <strong>Category:</strong>
  <%= link_to @course.category.category_name, category_path(@course.category), class:"btn btn-outline-secondary" %>
</p>

<p>
  <strong>Provided by:</strong>
  <%= @course.company %>
</p>
<p>
  <strong>Course Materials: </strong></br>
  <% @course.materials.each do |material| %>
  <%= link_to material.name, material_path(material), class:"btn btn-outline-primary" %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class:"btn btn-outline-secondary" %> |
<%= link_to 'See All Courses', courses_path, class:"btn btn-outline-secondary" %>
