<%= form_for(user_material) do |f| %>
  <% if user_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_material.errors.count, "error") %> prohibited this user_material from being saved:</h2>

      <ul>
      <% user_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :material_id %>
    <%= f.text_field :material_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
