<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<p>
  <strong>Available Courses:</strong></br>
  <% @category.courses.each do |course| %>
    <%= link_to course.name, course_path(course), class:"btn btn-outline-primary" %> </br>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category), class:"btn btn-outline-secondary" %> |
<%= link_to 'See All Categories', categories_path, class:"btn btn-outline-secondary" %>
