<%= form_for(material) do |f| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.select :course_id, Course.all.map{|c| [c.name, c.id]}, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :quiz_type %>
    <%= f.text_field :quiz_type, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_area :link, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :final_exam %>
    <%= f.check_box :final_exam %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-outline-secondary" %>
  </div>

<% end %>
