<p id="notice"><%= notice %></p>

<h3>
  Material Name: <strong><%= @material.name %></strong>

</h3>

<p>
  <strong>Course:</strong>
  <%= link_to @material.course.name, course_path(@material.course) %>
</p>

<p>
  <strong>Material Type:</strong>
  <%= @material.quiz_type %>
</p>

<% if @material.quiz_type == "multiple" %>
 <p>Please click the following link to do quizzes </p>
  <strong><%= link_to "Start", "/quizzes/exam_gate/#{@material.id}/1", class:"btn btn-outline-secondary" %></strong>
<% end %>


<% if @material.quiz_type == "video" %>
  <p>

    <iframe width="560" height="315" src="<%= @material.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
<% end %>

<p>
  <strong>Final exam:</strong>
  <%= @material.final_exam %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
