<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @material.course_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @material.material %>
</p>

<p>
  <strong>Type:</strong>
  <%= @material.type %>
</p>

<p>
  <strong>Link:</strong>
  <%= @material.link %>
</p>

<p>
  <strong>Final exam:</strong>
  <%= @material.final_exam %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
