<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @material.course_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @material.quiz_type %>
</p>

<% if @material.quiz_type == "multiple" %>
 <p>Please click the following link to do quizzes </p>
  <strong><%= link_to "Start", quizzes_path %></strong>
<% end %>


<% if @material.quiz_type == "video" %>
  <p>
    <strong>Link:</strong>
    <iframe width="560" height="315" src="<%= @material.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
<% end %>

<p>
  <strong>Final exam:</strong>
  <%= @material.final_exam %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
