<!DOCTYPE html>
<html>
  <head>
    <title>Travelearn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Travelearn</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav headbar-content">
        <li class="nav-item">
          <%= link_to "All Materials", materials_path, class:"nav-link nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Courses", courses_path, class:"nav-link nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Users", users_path, class:"nav-link nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Quizzes", quizzes_path, class:"nav-link nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Categories", categories_path, class:"nav-link nav-link" %>
        </li>

      </ul>
      </div>
      </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
